### 1. Load & Sample Data

#### Year 2018

In [2]:
data2018 = pd.read_csv('is-2018.csv')  
data2018.head()

,sex,age,occu,adate,atime,hdate,htime,aplace,aampur,atumbon,...,injt,injfrom,risk1,risk2,risk3,risk4,risk5,hprov,rdate,mass_casualty
0,1,34.0,7,1/1/2018,1/1/2018,1/1/2018,1/1/2018,22,1,3,...,2,21,1,0,NaN,0,0,NaN,2/1/2018,0.0
1,1,43.0,2,1/1/2018,1/1/2018,1/1/2018,1/1/2018,76,6,6,...,2,5,1,0,NaN,0,0,NaN,4/1/2018,0.0
2,1,62.0,7,1/1/2018,1/1/2018,1/1/2018,1/1/2018,49,NaN,NaN,...,1,NaN,0,0,0,0,N,NaN,0/0/0 00:00:00,0.0
3,2,43.0,5,1/1/2018,1/1/2018,1/1/2018,1/1/2018,44,6,7,...,1,21,0,N,0,0,N,NaN,0/0/0 00:00:00,0.0
4,1,22.0,7,1/1/2018,1/1/2018,1/1/2018,1/1/2018,32,5,8,...,1,12,0,0,NaN,1,0,NaN,0/0/0 00:00:00,0.0

#### Handle Missing Values (2018)

In [10]:
# fill the empty cells with NA 
data2018['aplace'].fillna('NA', inplace = True)

# check 'aplace' column
data2018['aplace'].value_counts()

40      14795
57      10722
50       8767
90       8660
52       6294
        ...
22.0        2
98.0        2
97.0        1
35.0        1
95.0        1
Name: aplace, Length: 168, dtype: int64

In [11]:
# fill the empty cells with NA 
data2018['aampur'].fillna('NA', inplace = True)

# check 'aplace' column
data2018['aampur'].value_counts()

1.0     76210
1       14494
5.0     10033
7.0      9788
4.0      9165
        ...
27          1
34          1
97.0        1
96.0        1
44.0        1
Name: aampur, Length: 100, dtype: int64

In [12]:
# fill the empty cells with NA 
data2018['atumbon'].fillna('NA', inplace = True)

# check 'aplace' column
data2018['atumbon'].value_counts()

NA      33516
1.0     26154
1       15969
2.0     12659
4.0      8792
        ...
27.0        5
n           4
0           3
99.0        2
96          1
Name: atumbon, Length: 61, dtype: int64

In [13]:
# fill the empty cells with NA 
data2018['injby'].fillna('NA', inplace = True)

# check 'aplace' column
data2018['injby'].value_counts()

1.0    176966
1       32709
NA        262
3.0        27
3           9
2.0         9
4.0         2
4           1
N           1
Name: injby, dtype: int64

In [14]:
# fill the empty cells with NA 
data2018['injoccu'].fillna('NA', inplace = True)

# check 'aplace' column
data2018['injoccu'].value_counts()

0     203808
NA      2464
1       1946
N       1740
n         27
2          1
Name: injoccu, dtype: int64

In [15]:
# fill the empty cells with NA 
data2018['injp'].fillna('NA', inplace = True)

# check 'aplace' column
data2018['injp'].value_counts()

2     160898
3      40117
1       5166
NA      2414
N       1271
0        116
n          4
Name: injp, dtype: int64

In [20]:
# fill the empty cells with NA 
data2018['injt'].fillna('NA', inplace = True)

# check 'aplace' column
data2018['injt'].value_counts()

2      165004
1       19467
5        9199
NA       5614
4        4837
3        1422
6        1013
99        816
18        607
9         473
15        323
8         278
N         255
0         232
7         165
16         93
           64
14         45
10         27
19         17
12         12
11         10
13          8
17          3
n           1
181         1
Name: injt, dtype: int64

In [21]:
# fill the empty cells with NA 
data2018['injfrom'].fillna('NA', inplace = True)

# check 'aplace' column
data2018['injfrom'].value_counts()

21     91344
2      32230
5      24012
4      16457
12     10222
NA      8605
99      6977
18      5960
6       3204
20      2103
1       1305
23      1244
7       1039
19       971
N        848
24       756
3        667
15       555
9        324
10       317
8        307
         173
16       160
241       57
11        34
22        33
17        25
242       19
14        16
13        13
243        7
29         1
26         1
Name: injfrom, dtype: int64

In [22]:
# fill the empty cells with NA 
data2018['risk1'].fillna('NA', inplace = True)

# check 'aplace' column
data2018['risk1'].value_counts()

0     155897
1      38022
N      15113
NA       952
2          2
Name: risk1, dtype: int64

In [23]:
# fill the empty cells with NA 
data2018['risk2'].fillna('NA', inplace = True)

# check 'aplace' column
data2018['risk2'].value_counts()

0     183203
N      22182
NA      4054
1        532
2         15
Name: risk2, dtype: int64

In [24]:
# fill the empty cells with NA 
data2018['risk3'].fillna('NA', inplace = True)

# check 'aplace' column
data2018['risk3'].value_counts()

NA    163634
0      28952
N      13402
1       3986
2         12
Name: risk3, dtype: int64

In [25]:
# fill the empty cells with NA 
data2018['risk4'].fillna('NA', inplace = True)

# check 'aplace' column
data2018['risk4'].value_counts()

0     135384
NA     31313
1      29615
N      13674
Name: risk4, dtype: int64

In [26]:
# fill the empty cells with NA 
data2018['risk5'].fillna('NA', inplace = True)

# check 'aplace' column
data2018['risk5'].value_counts()

0     165347
N      27815
NA     15564
1       1260
Name: risk5, dtype: int64

In [27]:
# fill the empty cells with NA 
data2018['hprov'].fillna('NA', inplace = True)

# check 'aplace' column
data2018['hprov'].value_counts()

NA      167556
50.0      1880
40.0      1711
84.0      1646
57.0      1482
         ...
27           2
75           2
81           2
95.0         1
1.0          1
Name: hprov, Length: 155, dtype: int64

In [28]:
# fill the empty cells with NA 
data2018['mass_casualty'].fillna('NA', inplace = True)

# check 'aplace' column
data2018['mass_casualty'].value_counts()

0.0    209538
1.0       439
NA          9
Name: mass_casualty, dtype: int64

#### Year 2019

In [6]:
data2019 = pd.read_csv('is-2019.csv')  
data2019.head()

,sex,age,occu,adate,atime,hdate,htime,aplace,aampur,atumbon,...,injt,injfrom,risk1,risk2,risk3,risk4,risk5,hprov,rdate,mass_casualty
0,1,16.0,8,1/1/2019,1/1/2019,1/1/2019,1/1/2019,70,7,15,...,2,12,0,0,NaN,0,0,NaN,0/0/0 00:00:00,0.0
1,1,17.0,8,1/1/2019,1/1/2019,1/1/2019,1/1/2019,70,7,15,...,2,12,0,0,NaN,0,0,NaN,0/0/0 00:00:00,0.0
2,1,19.0,0,1/1/2019,1/1/2019,1/1/2019,1/1/2019,70,7,7,...,2,21,0,0,NaN,0,0,NaN,0/0/0 00:00:00,0.0
3,1,19.0,0,1/1/2019,1/1/2019,1/1/2019,1/1/2019,67,1,13,...,2,21,1,0,NaN,0,0,NaN,5/1/2019,0.0
4,2,15.0,6,1/1/2019,1/1/2019,1/1/2019,1/1/2019,77,1,5,...,2,21,0,0,NaN,0,0,NaN,NaN,0.0

#### Handle Missing Values (2019)

In [30]:
# fill the empty cells with NA 
data2019['aplace'].fillna('NA', inplace = True)

# check 'aplace' column
data2019['aplace'].value_counts()

40     17594
50     17174
57     16833
90     11432
32      9023
       ...
C04        5
C2         5
5          5
C03        1
9          1
Name: aplace, Length: 90, dtype: int64

In [31]:
# fill the empty cells with NA 
data2019['aampur'].fillna('NA', inplace = True)

# check 'aplace' column
data2019['aampur'].value_counts()

1.0     62467
1       40777
7.0     10461
5.0      8988
4.0      8472
        ...
42          2
46.0        1
43          1
46          1
41.0        1
Name: aampur, Length: 102, dtype: int64

In [32]:
# fill the empty cells with NA 
data2019['atumbon'].fillna('NA', inplace = True)

# check 'aplace' column
data2019['atumbon'].value_counts()

1     52619
NA    32159
2     25314
4     19148
3     17788
6     14990
5     14504
7     11533
10     8285
8      7888
11     6616
9      6376
13     5613
12     5013
14     4201
17     3135
16     3127
15     2766
18     2588
20     1039
19      971
22      746
21      714
23      342
24      237
        205
25      188
26       31
99        2
n         1
27        1
0         1
.         1
Name: atumbon, dtype: int64

In [33]:
# fill the empty cells with NA 
data2019['injby'].fillna('NA', inplace = True)

# check 'aplace' column
data2019['injby'].value_counts()

1      182537
1.0     65499
NA         59
3          15
N          14
3.0         8
2           6
4           2
n           1
2.0         1
Name: injby, dtype: int64

In [34]:
# fill the empty cells with NA 
data2019['injoccu'].fillna('NA', inplace = True)

# check 'aplace' column
data2019['injoccu'].value_counts()

0     242297
NA      3070
1       2116
N        613
n         45
2          1
Name: injoccu, dtype: int64

In [35]:
# fill the empty cells with NA 
data2019['injp'].fillna('NA', inplace = True)

# check 'aplace' column
data2019['injp'].value_counts()

2     190941
3      46296
1       5675
NA      3298
N       1898
n         27
0          7
Name: injp, dtype: int64

In [36]:
# fill the empty cells with NA 
data2019['injt'].fillna('NA', inplace = True)

# check 'aplace' column
data2019['injt'].value_counts()

2      201890
1       13654
5       11551
NA       6844
4        5772
3        1883
99       1583
6        1352
0         827
18        684
9         510
15        416
N         284
8         276
7         162
16        140
          127
10         47
n          47
14         27
12         15
19         13
13         13
17          8
11          7
181         6
182         3
98          1
Name: injt, dtype: int64

In [37]:
# fill the empty cells with NA 
data2019['injfrom'].fillna('NA', inplace = True)

# check 'aplace' column
data2019['injfrom'].value_counts()

21     111148
2       36320
5       27387
4       17997
NA      13485
12      11864
99       8426
18       6745
6        3346
20       2304
1        1539
7        1189
19       1149
N         923
3         900
24        890
23        615
15        572
10        356
9         329
8         286
16        127
241        97
22         37
11         35
242        20
243        16
17         14
13         13
14         12
27          1
Name: injfrom, dtype: int64

In [38]:
# fill the empty cells with NA 
data2019['risk1'].fillna('NA', inplace = True)

# check 'aplace' column
data2019['risk1'].value_counts()

0     180512
1      46897
N      18938
NA      1772
2         16
9          7
Name: risk1, dtype: int64

In [39]:
# fill the empty cells with NA 
data2019['risk2'].fillna('NA', inplace = True)

# check 'aplace' column
data2019['risk2'].value_counts()

0     212594
N      30356
NA      4468
1        673
2         51
Name: risk2, dtype: int64

In [40]:
# fill the empty cells with NA 
data2019['risk3'].fillna('NA', inplace = True)

# check 'aplace' column
data2019['risk3'].value_counts()

NA    190612
0      38422
N      14794
1       4267
2         47
Name: risk3, dtype: int64

In [41]:
# fill the empty cells with NA 
data2019['risk4'].fillna('NA', inplace = True)

# check 'aplace' column
data2019['risk4'].value_counts()

0     160450
NA     36391
1      35168
N      16133
Name: risk4, dtype: int64

In [42]:
# fill the empty cells with NA 
data2019['risk5'].fillna('NA', inplace = True)

# check 'aplace' column
data2019['risk5'].value_counts()

0     188949
N      37321
NA     20464
1       1408
Name: risk5, dtype: int64

In [43]:
# fill the empty cells with NA 
data2019['hprov'].fillna('NA', inplace = True)

# check 'aplace' column
data2019['hprov'].value_counts()

NA    198788
        3669
40      2875
84      2822
50      2657
       ...
C1         6
1          5
75         5
95         2
C0         1
Name: hprov, Length: 84, dtype: int64

In [44]:
# fill the empty cells with NA 
data2019['mass_casualty'].fillna('NA', inplace = True)

# check 'aplace' column
data2019['mass_casualty'].value_counts()

0.0    247570
1.0       571
NA          1
Name: mass_casualty, dtype: int64

#### Year 2020

In [7]:
data2020 = pd.read_csv('is-2020.csv')  
data2020.head()

,sex,age,occu,adate,atime,hdate,htime,aplace,aampur,atumbon,...,injt,injfrom,risk1,risk2,risk3,risk4,risk5,hprov,rdate,mass_casualty
0,1,17.0,17,1/1/2020,1/1/2020,1/1/2020,1/1/2020,39,NaN,NaN,...,0,NaN,1,0,N,0,N,NaN,NaN,0
1,1,72.0,5,1/1/2020,1/1/2020,1/1/2020,1/1/2020,60,1,2,...,2,4,N,0,NaN,0,0,NaN,31/12/2019,0
2,2,26.0,5,1/1/2020,1/1/2020,2/1/2020,2/1/2020,16,1,3,...,NaN,NaN,N,N,N,N,N,NaN,NaN,0
3,1,24.0,0,1/1/2020,1/1/2020,1/1/2020,1/1/2020,39,NaN,NaN,...,99,99,1,N,N,NaN,0,NaN,NaN,0
4,1,21.0,5,1/1/2020,0/0/0 00:00:00,1/1/2020,1/1/2020,30,28,2,...,2,21,N,0,NaN,0,0,30,0/0/0 00:00:00,0

In [45]:
# fill the empty cells with NA 
data2020['aampur'].fillna('NA', inplace = True)

# check 'aplace' column
data2020['aampur'].value_counts()

1.0     69743
1       40959
5.0     12119
7.0     11589
4.0     10522
        ...
99.0        2
43.0        2
46          1
41.0        1
46.0        1
Name: aampur, Length: 102, dtype: int64

In [46]:
# fill the empty cells with NA 
data2020['atumbon'].fillna('NA', inplace = True)

# check 'aplace' column
data2020['atumbon'].value_counts()

1     48699
NA    40137
2     26998
4     20439
3     20182
6     16818
5     15749
7     12367
8      9357
10     9028
9      7687
11     7520
13     6496
12     6450
14     5325
16     3577
17     3348
15     3139
18     2488
20     1356
19     1005
21      935
22      919
23      322
24      242
25      236
        225
27       82
26       63
28        9
0         2
Name: atumbon, dtype: int64

In [47]:
# fill the empty cells with NA 
data2020['injby'].fillna('NA', inplace = True)

# check 'aplace' column
data2020['injby'].value_counts()

1      236048
1.0     32763
N        2304
NA         35
3          32
2          10
4           3
5           2
0           1
4.0         1
2.0         1
Name: injby, dtype: int64

In [48]:
# fill the empty cells with NA 
data2020['injoccu'].fillna('NA', inplace = True)

# check 'aplace' column
data2020['injoccu'].value_counts()

0     264715
NA      3054
1       2541
N        856
n         30
2          3
9          1
Name: injoccu, dtype: int64

In [49]:
# fill the empty cells with NA 
data2020['injp'].fillna('NA', inplace = True)

# check 'aplace' column
data2020['injp'].value_counts()

2     211127
3      46684
1       5976
NA      5520
N       1866
n         17
0          6
4          2
9          1
6          1
Name: injp, dtype: int64

In [50]:
# fill the empty cells with NA 
data2020['injt'].fillna('NA', inplace = True)

# check 'aplace' column
data2020['injt'].value_counts()

2      221381
1       13290
5       12720
NA       8285
4        6253
3        2540
99       2278
6        1349
18        591
0         590
15        488
9         336
N         278
8         272
7         176
16        102
           89
10         52
19         31
14         21
13         18
181        16
12         14
n          10
11          7
98          6
17          5
182         1
183         1
Name: injt, dtype: int64

In [51]:
# fill the empty cells with NA 
data2020['injfrom'].fillna('NA', inplace = True)

# check 'aplace' column
data2020['injfrom'].value_counts()

21     124170
2       38447
5       29994
4       19568
12      14140
NA      12882
99       9180
18       7440
6        3369
20       2641
1        1858
7        1260
19       1158
3        1113
N         804
15        789
24        701
23        582
9         256
8         246
10        221
16        122
11         77
241        59
22         58
243        20
17         18
13         16
242         6
14          5
Name: injfrom, dtype: int64

In [52]:
# fill the empty cells with NA 
data2020['risk1'].fillna('NA', inplace = True)

# check 'aplace' column
data2020['risk1'].value_counts()

0     188864
1      50262
N      30472
NA      1552
O         25
2         19
9          3
n          3
Name: risk1, dtype: int64

In [53]:
# fill the empty cells with NA 
data2020['risk2'].fillna('NA', inplace = True)

# check 'aplace' column
data2020['risk2'].value_counts()

0     217288
N      48624
NA      4311
1        890
2         76
O          8
9          3
Name: risk2, dtype: int64

In [54]:
# fill the empty cells with NA 
data2020['risk3'].fillna('NA', inplace = True)

# check 'aplace' column
data2020['risk3'].value_counts()

NA    206024
0      40976
N      19191
1       4934
2         74
9          1
Name: risk3, dtype: int64

In [55]:
# fill the empty cells with NA 
data2020['risk4'].fillna('NA', inplace = True)

# check 'aplace' column
data2020['risk4'].value_counts()

0     172930
NA     37420
1      35368
N      25470
2         12
Name: risk4, dtype: int64

In [56]:
# fill the empty cells with NA 
data2020['risk5'].fillna('NA', inplace = True)

# check 'aplace' column
data2020['risk5'].value_counts()

0     192953
N      57887
NA     19472
1        888
Name: risk5, dtype: int64

In [57]:
# fill the empty cells with NA 
data2020['hprov'].fillna('NA', inplace = True)

# check 'aplace' column
data2020['hprov'].value_counts()

NA      221486
40        2322
84        2309
57        1895
          1808
         ...
11.0         3
45.0         2
66.0         2
95           1
75.0         1
Name: hprov, Length: 152, dtype: int64

In [58]:
# fill the empty cells with NA 
data2020['mass_casualty'].fillna('NA', inplace = True)

# check 'aplace' column
data2020['mass_casualty'].value_counts()

0    270570
1       630
Name: mass_casualty, dtype: int64

#### Year 2021

In [8]:
data2021 = pd.read_csv('is-2021.csv')  
data2021.head()

,sex,age,occu,adate,atime,hdate,htime,aplace,aampur,atumbon,...,injt,injfrom,risk1,risk2,risk3,risk4,risk5,hprov,rdate,mass_casualty
0,NaN,40.0,5,1/1/2021,1/1/2021,1/1/2021,1/1/2021,67,8,5,...,NaN,NaN,N,N,N,N,N,NaN,0/0/0 00:00:00,0
1,1.0,20.0,8,1/1/2021,1/1/2021,1/1/2021,1/1/2021,67,8,NaN,...,NaN,NaN,N,N,N,N,N,NaN,0/0/0 00:00:00,0
2,1.0,13.0,17,1/1/2021,1/1/2021,1/1/2021,1/1/2021,67,8,4,...,N,NaN,N,N,N,NaN,N,NaN,0/0/0 00:00:00,0
3,1.0,28.0,5,1/1/2021,NaN,1/1/2021,1/1/2021,67,8,NaN,...,N,NaN,N,N,N,NaN,N,NaN,0/0/0 00:00:00,0
4,1.0,26.0,5,1/1/2021,1/1/2021,1/1/2021,1/1/2021,67,8,NaN,...,NaN,NaN,N,N,N,N,N,NaN,0/0/0 00:00:00,0

In [59]:
# fill the empty cells with NA 
data2021['aampur'].fillna('NA', inplace = True)

# check 'aplace' column
data2021['aampur'].value_counts()

1.0     82774
5.0     16146
7.0     13831
1       12766
4.0     12030
        ...
98.0        1
96.0        1
44.0        1
43.0        1
99.0        1
Name: aampur, Length: 99, dtype: int64

In [60]:
# fill the empty cells with NA 
data2021['atumbon'].fillna('NA', inplace = True)

# check 'aplace' column
data2021['atumbon'].value_counts()

1     57525
NA    26862
2     24287
3     18883
4     18487
6     15151
5     14216
7     11046
8      8451
10     7725
9      7188
11     6483
13     5533
12     5427
14     4475
15     3130
16     2894
17     2825
18     1933
20     1166
19      840
21      775
22      699
23      217
25      176
24      140
        138
27       72
26       50
0        42
28       13
99        4
65        3
98        2
95        1
96        1
97        1
Name: atumbon, dtype: int64

In [61]:
# fill the empty cells with NA 
data2021['injby'].fillna('NA', inplace = True)

# check 'aplace' column
data2021['injby'].value_counts()

1     241386
N       5364
3         50
2         33
NA        22
4          5
0          1
Name: injby, dtype: int64

In [62]:
# fill the empty cells with NA 
data2021['injoccu'].fillna('NA', inplace = True)

# check 'aplace' column
data2021['injoccu'].value_counts()

0     240101
NA      2986
1       2626
N       1124
n         17
2          6
9          1
Name: injoccu, dtype: int64

In [63]:
# fill the empty cells with NA 
data2021['injp'].fillna('NA', inplace = True)

# check 'aplace' column
data2021['injp'].value_counts()

2     195455
3      39575
1       5843
NA      4235
N       1700
8         41
0          7
9          4
n          1
Name: injp, dtype: int64

In [64]:
# fill the empty cells with NA 
data2021['injt'].fillna('NA', inplace = True)

# check 'aplace' column
data2021['injt'].value_counts()

2      203693
5       11867
1       10728
NA       6145
4        5658
3        2620
99       2288
6        1356
15        611
18        285
9         283
0         248
7         246
N         243
8         221
16        103
           56
10         34
98         31
19         29
12         22
14         20
n          12
191        12
13         11
182         9
17          8
902         6
193         5
181         5
11          5
999         1
Name: injt, dtype: int64

In [65]:
# fill the empty cells with NA 
data2021['injfrom'].fillna('NA', inplace = True)

# check 'aplace' column
data2021['injfrom'].value_counts()

21      110859
2        35033
5        27556
4        16339
12       14899
NA       12683
99        7521
18        7379
6         3530
20        2522
1         1747
7         1174
3         1106
19        1044
15         900
N          807
23         482
24         434
16         166
10         146
8          145
9          142
22          72
11          40
241         32
242         19
13          17
14          13
26          11
17          10
30           8
243          6
0            6
1021         4
1005         2
29           2
25           2
28           1
1004         1
27           1
Name: injfrom, dtype: int64

In [66]:
# fill the empty cells with NA 
data2021['risk1'].fillna('NA', inplace = True)

# check 'aplace' column
data2021['risk1'].value_counts()

0     166864
1      44873
N      33065
NA       957
O        722
2        294
9         86
Name: risk1, dtype: int64

In [67]:
# fill the empty cells with NA 
data2021['risk2'].fillna('NA', inplace = True)

# check 'aplace' column
data2021['risk2'].value_counts()

0     192175
N      49485
NA      2422
1        956
O        796
2        646
9        381
Name: risk2, dtype: int64

In [68]:
# fill the empty cells with NA 
data2021['risk3'].fillna('NA', inplace = True)

# check 'aplace' column
data2021['risk3'].value_counts()

NA    171600
0      47147
N      22630
1       4635
2        552
9        297
Name: risk3, dtype: int64

In [69]:
# fill the empty cells with NA 
data2021['risk4'].fillna('NA', inplace = True)

# check 'aplace' column
data2021['risk4'].value_counts()

0     157404
N      29858
1      29383
NA     29364
2        732
9        120
Name: risk4, dtype: int64

In [70]:
# fill the empty cells with NA 
data2021['risk5'].fillna('NA', inplace = True)

# check 'aplace' column
data2021['risk5'].value_counts()

0     159113
N      72181
NA     14980
1        587
Name: risk5, dtype: int64

In [71]:
# fill the empty cells with NA 
data2021['hprov'].fillna('NA', inplace = True)

# check 'aplace' column
data2021['hprov'].value_counts()

NA      204332
40.0      2471
84.0      2144
34.0      1936
41.0      1801
         ...
81.0         7
75.0         6
23.0         4
95.0         2
97.0         1
Name: hprov, Length: 79, dtype: int64

In [72]:
# fill the empty cells with NA 
data2021['mass_casualty'].fillna('NA', inplace = True)

# check 'aplace' column
data2021['mass_casualty'].value_counts()

0    246238
1       623
Name: mass_casualty, dtype: int64

In [5]:
# import the required packages
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor
from sklearn.neural_network import MLPClassifier,MLPRegressor
from sklearn. ensemble import RandomForestClassifier, RandomForestRegressor, AdaBoostClassifier,AdaBoostRegressor
from sklearn.svm import SVC,SVR
from sklearn.metrics import mean_squared_error,mean_absolute_error
from math import sqrt
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
import statsmodels.api as sm
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
# Define Model Inputs (X) and Output (y)
allplaces = pd.read_csv('adateplace.csv')  

X = allplaces.drop('countap18',axis=1)
y = allplaces["countap18"]

### Logistic Regression Model

In [7]:
# Split both Inputs (X) and Ouput (y) into training set (80%) and testing set (20%)
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 4)



#Logistic Regression
# Create the model "lg"
lg = LogisticRegression(solver='lbfgs', # optimization solver
 max_iter=10000) # maximum iterations: set a big number 
# run enough iterations to let the model converge
# Fit the model to the training set
lg.fit(x_train,y_train)

# Train Accuracy
print(lg.score(x_train,y_train),'(Train Accuracy)')
# Test Accuracy
print(lg.score(x_test, y_test), '(Test Accuracy)')

ValueError: could not convert string to float: '(blank)'

## Decision Tree Model

In [ ]:
# Evaluate the Model using K-folds Cross validation
results  = cross_validate(dt, X, y, scoring='accuracy', cv=5, return_train_score = True)
print('train_score: ', results['train_score'])
print('test_score: ', results['test_score'])

print('cross val training accuracy is:', sum(results['train_score'])/len(results['train_score']))
print('cross val testing accuracy is:', sum(results['test_score'])/len(results['test_score']))

### Artifical Neural Network Model

In [12]:
# Evaluate the Model using K-folds Cross validation
results  = cross_validate(mlp, X, y, scoring='accuracy', cv=5, return_train_score = True)
print('train_score: ', results['train_score'])
print('test_score: ', results['test_score'])

print('cross val training accuracy is:', sum(results['train_score'])/len(results['train_score']))
print('cross val testing accuracy is:', sum(results['test_score'])/len(results['test_score']))

NameError: name 'mlp' is not defined

### Random Forest(Ensemble Model)

In [9]:
# Evaluate the Model using K-folds Cross validation
results  = cross_validate(rf_cls, X, y, scoring='accuracy', cv=5, return_train_score = True)
print('train_score: ', results['train_score'])
print('test_score: ', results['test_score'])

print('cross val training accuracy is:', sum(results['train_score'])/len(results['train_score']))
print('cross val testing accuracy is:', sum(results['test_score'])/len(results['test_score']))

NameError: name 'rf_cls' is not defined